<div data-controller="get-realtime-users" class="text-center" data-following-ids="<%= @following_ids.to_json %>">
  <p data-get-realtime-users-target="output"></p>
  <%= link_to '勉強を始める', new_timeline_path, class: 'btn btn-primary custom-button hidden', data: { "get-realtime-users-target": "study" } %>
</div>