<div data-controller="get-realtime-users" data-following-ids="<%= @following_ids.to_json %>">
  <p data-get-realtime-users-target="output">Loading user data...</p>
  <%= link_to 'Create New Timeline', new_timeline_path %>
</div>