<%= link_to 'To realtime', realtime_path %>

<div data-controller="timer">
  <button data-timer-target="buttonAction" data-action="click->timer#nextAction">
    開始
  </button>
  <button data-action="click->timer#finish">
    完了
  </button>
</div>