<%= link_to 'To realtime', realtime_path %>

<div data-controller="get-current-usertime">
  <p data-get-current-usertime-target="output" data-get-current-usertime-uid="<%= @user.uid %>">Loading user data...</p>
</div>

<div data-controller="timer">
  <button data-timer-target="output" data-timer-uid="<%= @user.uid %>" data-action="click->timer#nextAction">
    開始
  </button>
  <button data-action="click->timer#finish">
    完了
  </button>
</div>