<script>
  window.currentUid = "<%= @uid %>"; // application_controller.rbで設定した@uidをJavaScriptに渡す
</script>

<%= link_to 'To realtime', realtime_path %>

<div data-controller="get-current-usertime">
  <p data-get-current-usertime-target="output">Loading user data...</p>
</div>


<%= @uid %>

<div data-controller="timer">
  <button data-action="click->timer#start">
    開始
  </button>
  <button data-action="click->timer#stop">
    一時停止
  </button>
  <button data-action="click->timer#restart">
    再開
  </button>
  <button data-action="click->timer#finish">
    完了
  </button>
</div>