/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
@import "bootstrap";
/* ロゴ風のカスタムスタイル */
.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #007bff !important;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    background: linear-gradient(45deg, #007bff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

/* 大ボタンのスタイル */
.fixed-circle-btn {
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
  }

  /* 小ボタン */
  .small-circle-btn {
    width: 90px;   /* 固定の幅 */
    height: 90px;  /* 固定の高さ */
  }

  /* 時間表示のスタイル */
.timer-display {
    font-size: 3rem;         /* 大きなフォントサイズ */
    font-weight: bold;       /* 太字 */
    color: #333;             /* 文字色 */
    margin-bottom: 20px;     /* 下に少し余白 */
  }