@import "bootstrap";

/* カラーテーマの設定 */
:root {
  --primary-color: #007bff;       /* メインカラー */
  --secondary-color: #0056b3;     /* メインの暗い色 */
  --accent-color: #00c6ff;        /* アクセントカラー */
  --text-color: #333;             /* メインテキストカラー */
  --background-color: #f0f8ff;    /* 背景色 */
}

/* 全体の背景色 */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* ロゴ風のカスタムスタイル */
.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(45deg, var(--primary-color), var(--accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.05em;
}

/* 大ボタンのスタイル */
.fixed-circle-btn {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
}

/* 小ボタン */
.small-circle-btn {
  width: 90px;   /* 固定の幅 */
  height: 90px;  /* 固定の高さ */
}

.small-circle-btn:hover {
  background-color: var(--secondary-color);
}

  /* 時間表示のスタイル */
  .timer-display {
    font-size: 3rem;         /* 大きなフォントサイズ */
    font-weight: bold;       /* 太字 */
    color: #333;             /* 文字色 */
    margin-bottom: 20px;     /* 下に少し余白 */
  }

/* カードスタイル */
.user-card {
    background-color: white;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin: 15px auto; /* 上下の余白を15px、左右は自動で中央寄せ */
    max-width: 600px;  /* カードの最大幅を600pxに設定 */
    transition: transform 0.2s ease-in-out;
  }

.user-card h3 {
  margin: 0;
  color: var(--text-color);
}

.user-card p {
  color: var(--text-color);
  margin: 5px 0;
  line-height: 1.5;
}

.user-card strong {
  color: var(--secondary-color);
}

/* カスタムボタン */
.custom-button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: var(--secondary-color);
}

.hidden {
  display: none;
}
