<%= @user.email %>
<%= @user.uid %>
<div data-controller="test-firebase" data-test-firebase-uid="<%= @user.uid %>">
  <p data-test-firebase-target="output"></p>
  <button data-action="click->test-firebase#updateStudyFlag">
    update study flag
  </button>
</div>